.checkbox {
  display: flex;
  flex-direction: row;
  margin-top: 9px;
}
.checkboxs {
  margin-right: 10px;
}

input[type="checkbox"] {
  display:none;

}
input[type="checkbox"] + label span {
  display:inline-block;
   width:42px;
   height:42px;
   text-align: center;
   padding-top: 12px;


  background:url(../img/checkbox.png) 0 0 no-repeat;
  cursor:pointer;
}
input[type="checkbox"]:checked + label span {
  background:url(../img/checkbox_checked.png) 0 0 no-repeat;
  color: #152935;
}
