@mixin text-mixin($color,$font-size,$line-height) {

  color: $color;
  font-size: $font-size;
  line-height: $line-height;

}
.content-near-metro {
  margin: 20px 0;
}
.select-type {
  float: left;
  max-width: 320px;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 42px;
  }
.resp-img-big{
  float: right;
  background-image: url('../img/illustration/metro.png');
  background-position: 29%;
  background-repeat: no-repeat;
  height: 296px;
  width: 50%;
}
.select-flats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    margin-right: 42px;
    a{
      border-bottom: 2px transparent solid ;
      padding:0px 6px 9px 6px;
      transition-property: border-bottom;
      transition-timing-function: ease-in;
      transition-duration: 0.2s;
      &:hover{
        border-bottom: 2px $prymary-color solid ;
      }
    }
  }
  /*.flats_active {
    border-bottom: 2px #30AE63 solid ;
    padding:0px 6px 9px 6px;

  }*/
}
.near-metro-flats {
  margin-top: 0px;
  margin-bottom: 31px;
  li:first-child {
    margin-left: -38px;
  }
  }

.select-form {
  width: 344px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #DFE3E6;
  padding-left: 12px;
  padding-top: 3px;

}

option {
  @include text-mixin(#152935,14px,18px);
}

.select-metro {
  width: 315px!important;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 2px;
}

.content-prise {
@include text-mixin(#152935,16px,24px);

}
.content-info {
@include text-mixin(#8C9BA5,11px,28px);
}
.content-metro {
@include text-mixin(#152935,14px,18px);
}
