
.wrapper{
  margin: 0px auto;
  min-height: 2900px;
  background-color: rgba(255, 255, 255, 0.08);
  flex-direction: column;
}

.header{

  background-color:  #30AE63;
  max-height: 301px;
  margin: 0 auto;
  width: 100%;

   background: #30AE63 url('../img/Group 25.png') 0 0 no-repeat;
   background-size: cover;
   color: #fff;
}
.header_content {
  max-width: 890px;
  min-height: 252px;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;

}
.navigation {
  max-height: 40px;
  font-size: 14px;
  line-height: 20px;

}

.header_ul>li {
  margin-right: 10%;
}
.header_menu{
  justify-content: space-between;
}
.header_search {
 max-height: 66px;
}
.select, .header_checkbox{
  flex-direction: column;
}
.checkbox {
  flex-direction: row;
}
.content {
  flex-direction: column;
  max-width: 890px;
  margin: 0 auto;
}
.content_near_metro {
  min-height: 295px;

  background: #fff url('../img/illustration/metro.png') 90% 50% no-repeat ;
  margin-top: 3%;



}
.select_type {
  max-width: 320px;
  max-height: 212px;
  flex-direction: column;

}

.content_best {
  min-height: 384px;
  background-color: #fff;
  margin-top: 3%;
  flex-direction: column;


}
.best_cards {
  justify-content: space-around;
}
.best_card {
  flex-direction: column;
  max-width: 202px;
}
.best_info {
  color: #8C9BA5;
  font-size: 11px;
  line-height: 28px;
}
.best_metro {
  color: #152935;
  font-size: 14px;
  line-height: 18px;
}
.content_last {
  min-height: 444px;
  background-color: #fff;
  margin-top: 3%;
  flex-direction: column;




}
.content_telegram {
  min-height: 806px;
  background-color: #fff;
  margin-top: 3%;



}
.content_blog {
  min-height: 518px;
  background-color: #fff;
  margin-top: 3%;



}
.footer {
 max-width: 844px;
 width: 100%;
 background-color: rgb(83, 64, 93);
 margin: 0px auto;
 flex-direction: column;
 align-content: space-between;
}
.footer ul {
  flex-direction: column;
}
.footer_content {

 justify-content: space-between;

}
.footer_info, .footer_partner, .footer_more, .footer_contacts {
  flex-direction: column;
  max-width: 162px;

}
