.header_insert {
  background: rgba(255, 255, 255, 0.1) url("../img/Shape.svg") 0 50% no-repeat ;
  width: 236px;
  height: 40px;
  color: #fff;
}
.select_city {
  width: 334px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #DFE3E6;
  color: #152935;
  font-size: 14px;
  line-height: 18px;

}
option {
  color: #152935;
  font-size: 14px;
  line-height: 18px;
}

.checkbox1 {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff url(../img/checkbox.png) 0 0 no-repeat;
}
.search_button {
  width: 201px;
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #30AE63;
  color: #30AE63;
  font-size: 14px;
  line-height: 17.09px;
}
