@media screen and (max-width: 1280px) and (min-width: 1000px){
  .map{
    padding-right: 1%;
    padding-left: 10px;
    height: 600px;
    width: 16%;
    margin-top: 157px;
  }
  .home-card-right{
    padding-left: 30px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 891px){
  .map{
    display: none;
  }
  .header-second .header-login{
    margin-left: 6%;
  }
}
@media screen and (max-width: 890px) and (min-width: 769px){
  .map{
    display: none;
  }
  .card-features{
    max-width: 295px;
  }
  .home-card-right{
    padding-left: 1px;
  }
  .header-second .header-login{
    margin-left: 6%;
  }
  .header-menu{
    width: 53%;
  }
  .header{
    padding: 0 10px;
  }
  .select{
    width: 344px / 1129px * 100%;
  }
  .select-form{
    width: 100%;
  }
  .search{
    padding-left: 0px;
  }
  .header-ul{
    li{
      margin-right: 18px;
    }
  }
  .modal-content{
    width: 96%;
  }
  .close:after{
    left: 305px;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .map{
    display: none;
  }
  .logo{
    z-index: 999;
  }
  .header-menu{
    z-index: 1;
  }
  h1{
    padding: 60px 0 40px;
  }
  .header-checkbox{
    padding-top: 30px;
  }
  .select{
    width: 310px;
  }
  .home-card-left{
    flex-direction: column;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-img{
    max-width: 100%;
    max-height: 100%;
  }
  .duble{
    justify-content: flex-end;
  }
  .price-btn{
    margin:0;
    position: relative;
    top: 35px;
  }
  .tel{
    margin-right: 20px;
  }
  .home-card-right{
    float: none;
    text-align: center;
    margin-top: 20px;
    padding-left: 0;
  }
  .select-form{
    width: 100%;
  }
  .select-type{
    float: none;
    margin: 0 auto;
  }
  .resp-img-big{
    background-size: 90%;
    width: 100%;
    float: none;
  }
  .search{
    padding-left: 0px;
  }
  .header-ul{
    li{
      margin-right: 20px;
    }
  }
  .modal-content{
    width: 96%;
  }
  .close:after{
    left: 305px;
  }
  .phone, .menu-hidden{
    display: none;
  }
  .footer-content{
       flex-wrap: wrap;
       justify-content: space-around;
     }
  .home{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .logo{
    left: 10px;
  }
  .slicknav_nav ul{
    top:-17px;
  }
  .footer-info{
    padding-bottom: 30px;
  }
  .footer{
    margin-top: 25px;
  }
  .blog-card{
    width: 320px;
  }
  .blog-card h3{
    max-width: 282px;
  }
  .content-best{
    .blog-card{
      width: 46%;
    }
  }
  .content-last{
    .blog-card{
      width: 46%;
    }
  }
  .slicknav_menu {
    display:block;
  }
  .mobile-menu{
    .hidden{
      display: block;
    }
  }
  .header-search{
    display: block;
  }

  .slicknav_menu{
    .header-menu{
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        margin-top: 14px;
      }
    }
    .logo{
      left: -5px;
      top: -13px;

    }
  }
  .header-ul{
    padding-left: 40px;
  }

}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .map {
    display: none;
  }
  .header-menu {
    z-index: 1;
  }
  h1 {
    padding: 60px 0 40px;
  }
  h2{
    font-size: 17px;
    padding: 15px 0;
  }
  .header-checkbox {
    padding-top: 30px;
  }
  .select {
    width: 310px;
  }
  .home-card-left {
    flex-direction: column;
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smal-visible{
    display: block;
  }
  .places-variant{
    display: grid;
  }
  .places-variant select{
    float: none;
  }
  .home-img {
    max-width: 100%;
    max-height: 100%;
  }
  .duble {
    justify-content: flex-end;
  }
  .price-btn {
    margin: 0;
    position: relative;
    top: 35px;
  }
  .tel {
    margin-right: 20px;
  }
  .home-card-right {
    float: none;
    text-align: left;
    margin-top: 0;
    padding-left: 0;
  }
  .hiden-lg{
    display: none;
  }
  .hiden-xs{
    display: block;
  }
  .select-form {
    width: 100%;
  }
  .select-type {
    float: none;
    margin: 0 auto;
  }
  .resp-img-big {
    background-size: 90%;
    width: 100%;
    float: none;
  }
  .search {
    padding-left: 0px;
  }
  .header-ul {
    li {
      margin-right: 20px;
    }
  }
  .modal-content {
    width: 96%;
  }
  .close:after {
    left: 305px;
  }
  .phone, .menu-hidden {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .home {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .logo {
    left: 10px;
  }
  .slicknav_nav ul {
    top: -17px;
  }
  .footer-info {
    padding-bottom: 30px;
  }
  .home h3{
    margin-top: 20px;
    display: inline-block;
    margin-right: 20px;
  }
  .footer {
    margin-top: 0;
  }
  .footer-info-head {
    display: block;
    padding-top: 30px;
  }
  .price-btn{
    width: 128px;
  }
  .blog-card {
    width: 320px;
  }
  .blog-card h3 {
    max-width: 282px;
  }
  .content-best {
    .blog-card {
      width: 46%;
    }
  }
  .content-last {
    .blog-card {
      width: 46%;
    }
  }
  .slicknav_menu {
    display: block;
  }
  .mobile-menu {
    .hidden {
      display: block;
    }
  }
  .header-search {
    display: block;
  }

  .slicknav_menu {
    .header-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        margin-top: 14px;
      }
    }
    .logo {
      left: -5px;
      top: -13px;

    }
  }
  .header-ul {
    padding-left: 40px;
  }
}