<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>Data-root</title>
    <link rel="stylesheet" type="text/css" href="../style/reset.css">
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>

</header>
<div class="container">
    <div class="places">
    <div class="description-cards">
        <div class="description-cards-footer">
            <span><a href="#">Долгосрочная аренда</a>  /  <a href="#">Квартиры</a>  /  <a href="#">Киев</a></span><br>
            <h2>Долгосрочная аренда квартир в Киеве</h2><br>
            <div class="places-variant clearfix">
                <span>3 варианта размещения</span>
                <form action="">
                    <select name="money" id="money">
                        <option selected>Валюта</option>
                    </select>
                    <select name="sorted" id="sort">
                        <option selected>Сортировать</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="home clearfix">
            <div class="home-card-left">
                <img class="home-img" src="../img/1.png" alt="">
                <div class="card-features">
                    <h3>22 комн., Дарницкий р-н, Пчелки 2б</h3><br>
                    <span class="region"><span></span> Позняки</span><span class="region-metro">30 мин пешком</span><br>
                    <div  class="features"><span>Особенности</span><br>
                    <span>120 кв. м. •  этаж 1 из 5</span><br></div>
                    <span id="color">Комунальные включены, без старой мебели, новый дом, дизайнерский ремонт, тихий район, удобная транспортная развязка, шикарный вид на Днепр.</span>
                </div>
            </div>
            <div class="home-card-right">
                <h3>11 600 грн</h3><br>
                <span>460$ курс</span><br>
                <a class="price-btn high" href="#">Высокая цена<img src="../img/i.png"></a>
                <div class="duble">
                    <a class="send-btn tel" id="send-btn" href="#"><img src="../img/Shape.png" alt=""></a>
                    <a class="send-btn mes" id="send-btn" href="#"><img src="../img/Facebook_Messenger_1_.png" alt=""></a>
                </div>
            </div>

        </div>
        <div class="home-after">
            <div class="home-dots"><span class="home-dot-active"></span><span class="home-dot"></span>
            </div>
            <div class="infr">
                <p><a href="#">След. раздел <img src="../img/arrr.png" alt=""></a></p>
                <p><a href="#">Инфраструктура</a></p>
            </div>
        </div>

            <div class="home clearfix">
                <div class="home-card-left">
                    <img class="home-img" src="../img/2.png" alt="">
                    <div class="card-features">
                        <h3>2 комн., Оболонский р-н, Полярная 20</h3><br>
                        <span class="region region-blue"><span></span> Героев Днепра </span><span class="region-metro">10 мин. пешком</span><br>
                        <div  class="features"><span>Особенности</span><br>
                            <span>78 кв. м. • этаж 2 из 5 </span><br></div>
                        <span id="color">Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</span>
                    </div>
                </div>
                <div class="home-card-right">
                    <h3>10 500 грн</h3><br>
                    <span>420$ курс</span><br>
                    <a class="price-btn lov" href="#">Хорошая цена<img src="../img/i.png"></a>
                    <div class="duble">
                        <a class="send-btn tel" id="send-btn" href="#"><img src="../img/Shape.png" alt=""></a>
                        <a class="send-btn mes" id="send-btn" href="#"><img src="../img/Facebook_Messenger_1_.png" alt=""></a>
                    </div>
                </div>

            </div>
            <div class="home-after">
                <div class="home-dots"><span class="home-dot-active"></span><span class="home-dot"></span>
                </div>
                <div class="infr">
                    <p><a href="#">След. раздел <img src="../img/arrr.png" alt=""></a></p>
                    <p><a href="#">Инфраструктура</a></p>
                </div>

            </div>
        <div class="home clearfix">
            <div class="home-card-left">
                <img class="home-img" src="../img/3.png" alt="">
                <div class="card-features">
                    <h3>2 комн., Оболонский р-н, Полярная 20</h3><br>
                    <span class="region region-blue"><span></span> Героев Днепра </span><span class="region-metro">10 мин. пешком</span><br>
                    <div  class="features"><span>Особенности</span><br>
                        <span>78 кв. м. • этаж 2 из 5 </span><br></div>
                    <span id="color">Без комунальных, евроремонт, хозяева в Польше, 15 мин. до озера, кофеварка, уборщица.</span>
                </div>
            </div>
            <div class="home-card-right">
                <h3>10 500 грн</h3><br>
                <span>420$ курс</span><br>
                <a class="price-btn lov" href="#">Хорошая цена<img src="../img/i.png"></a>
                <div class="duble">
                    <a class="send-btn tel" id="send-btn" href="#"><img src="../img/Shape.png" alt=""></a>
                    <a class="send-btn mes" id="send-btn" href="#"><img src="../img/Facebook_Messenger_1_.png" alt=""></a>
                </div>
            </div>

        </div>
        <div class="home-after">
            <div class="home-dots"><span class="home-dot-active"></span><span class="home-dot"></span>
            </div>
            <div class="infr">
                <p><a href="#">След. раздел <img src="../img/arrr.png" alt=""></a></p>
                <p><a href="#">Инфраструктура</a></p>
            </div>

        </div>
    </div>
    <div class="map" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5081.118148436458!2d30.521207421668034!3d50.449313090410214!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1491668615755" width="100%" height="96%" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>


</div>
<footer>

</footer>

</body>
</html>