body,div,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,input,p {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


ol,ul,{
    list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
}
