@media screen and (max-width: 890px) and (min-width: 769px) {
  .header {
    padding: 0 10px; }
  .select {
    width: 30.46944%; }
  .select-form {
    width: 100%; }
  .search {
    padding-left: 0px; }
  .header-ul li {
    margin-right: 18px; }
  .resp-img-big {
    background-size: contain;
    width: 48%;
    margin-right: 1%; }
  .modal-content {
    width: 96%; }
  .close:after {
    left: 305px; } }

@media screen and (max-width: 768px) and (min-width: 481px) {
  .container-main {
    margin: 0 10px; }
  .header-menu {
    z-index: 1; }
  h1 {
    padding: 60px 0 40px; }
  .header-checkbox {
    padding-top: 30px; }
  .select {
    width: 310px; }
  .select-form {
    width: 100%; }
  .select-type {
    float: none;
    margin: 0 auto; }
  .resp-img-big {
    background-size: 90%;
    width: 100%;
    float: none; }
  .search {
    padding-left: 0px; }
  .header-ul li {
    margin-right: 20px; }
  .modal-content {
    width: 96%; }
  .close:after {
    left: 305px; }
  .phone, .menu-hidden {
    display: none; }
  .footer-content {
    flex-wrap: wrap; }
  .footer-info {
    padding-bottom: 30px; }
  .footer {
    margin-top: 25px; }
  .blog-card {
    width: 320px; }
  .blog-card h3 {
    max-width: 282px; }
  .content-best .blog-card {
    width: 46%; }
  .content-last .blog-card {
    width: 46%; }
  .slicknav_menu {
    display: block; }
  .mobile-menu .hidden {
    display: block; }
  .header-search {
    display: block; }
  .slicknav_menu .header-menu {
    display: flex;
    justify-content: center;
    align-items: center; }
    .slicknav_menu .header-menu li {
      margin-top: 14px; }
  .slicknav_menu .logo {
    left: -5px;
    top: -3px; }
  .header-ul {
    padding-left: 50px; } }

@media screen and (max-width: 480px) and (min-width: 320px) {
  body {
    background: white; }
  .container-main {
    margin: 0 10px; }
  .header-menu {
    z-index: 1; }
  h1 {
    padding: 60px 0 40px;
    font-size: 28px; }
  h2 {
    font-size: 21px; }
  .near-metro-flats li:first-child {
    margin-left: 0; }
  .content-near-metro {
    display: flex;
    flex-direction: column-reverse; }
  .blog {
    margin-top: 0; }
  .header-checkbox {
    padding-top: 30px; }
  .select {
    width: 310px; }
  .select-form {
    width: 80%; }
  .select-type {
    float: none;
    margin: 0 auto;
    text-align: center; }
  .btn-large {
    width: 92%;
    display: inline-block; }
  .resp-img-big {
    background-size: 95%;
    width: 100%;
    float: none;
    height: 157px; }
  .search {
    padding-left: 0px; }
  .header-ul li {
    margin-right: 20px; }
  .modal-content {
    width: 96%; }
  .close:after {
    left: 305px; }
  .phone, .menu-hidden {
    display: none; }
  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center; }
  .footer-info {
    padding-bottom: 30px; }
  .footer {
    margin-top: 25px; }
  .blog-card {
    width: 100%; }
  .blog-card h3 {
    max-width: 282px; }
  .content-best .blog-card {
    width: 45%; }
  .content-best .resp-img-blog {
    height: 100px; }
  .to-smth {
    font-size: 14px; }
  .content-last .blog-card {
    width: 45%; }
  .content-last .resp-img-blog {
    height: 100px; }
  .telegram-bot {
    padding: 0; }
  .telegram-change a {
    font-size: 12px;
    margin-right: 14px; }
  .blog-card:nth-child(2) {
    margin: 0; }
  .blog-card:last-child {
    display: none; }
  .blog-card:nth-child(3) {
    display: none; }
  .slicknav_menu {
    display: block; }
  .mobile-menu .hidden {
    display: block; }
  .header-search {
    display: block; }
  .slicknav_menu .header-menu {
    display: flex;
    justify-content: center;
    align-items: center; }
    .slicknav_menu .header-menu li {
      margin-top: 14px; }
  .slicknav_menu .logo {
    left: -5px;
    top: -3px; }
  .header-ul {
    padding-left: 50px; } }
